<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${content.title}">Post</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--icon-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
<!--    top nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--    fixed-top-->
        <div class="container">
            <a class="navbar-brand" href="#">My Post</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" href="#">
                    <li class="nav-item active">
                        <a class="nav-link" href="home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <div th:each="nav : ${staticList}">
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:text="${nav.title}" th:href="@{/static(id=${nav.id})}">About<span class="sr-only">(current)</span></a>
                        </li>
                    </div>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
                        <li class="nav-item active">
                            <a class="nav-link" href="contentManager">Management Tool
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </div>
                    <!--for already login yet-->
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome : <span th:text="${#authentication.name}">
                                      </span>&nbsp;&nbsp;&nbsp;|
                                <i class="fas fa-user fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="editUser"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings</a>
                                <div class="dropdown-divider"></div>
                                <form class="form-inline"
                                      method="POST"
                                      action="/logout">
                                    <input type="hidden"
                                           th:name="${_csrf.parameterName}"
                                           th:value="${_csrf.token}"/>
                                    <button class="dropdown-item"
                                            id="submit"
                                            type="submit"><i class="fa fa-window-close" aria-hidden="true"></i>&nbsp;Logout</button>
                                </form>
                            </div>
                        </li>
                    </div>
                    <!--for not login yet-->
                    <div sec:authorize="!isAuthenticated()">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" id="userDropdownLogin" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login
                                <i class="fas fa-user fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; Help</a>
                                <a class="dropdown-item" href="login"><i class="fas fa-user fa-fw"></i>&nbsp; Login</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-bottom:200px;">

        <div class="row">
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search by Title</h5>
                    <div class="card-body">
                        <form action="searchPost" method="GET">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <div class="input-group">
                                <input type="text" class="form-control" id="search" name="search" placeholder="Search for...">
                                <span class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">#HashTags</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0" th:each="tag1 : ${tagList1}">
                                    <li>
                                        <a th:href="@{/searchPost(id=${tag1.id})}" th:text="${tag1.name}">#tag</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0" th:each="tag2 : ${tagList2}">
                                    <li>
                                        <a th:href="@{/searchPost(id=${tag2.id})}" th:text="${tag2.name}">#tag</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h1 class="mt-4" th:text="${content.title}">Post Title</h1>

                <!-- Author -->
                <p class="lead">
                    by
                    <a href="#" th:text="${content.user.firstName} + ${content.user.lastName}">Start Bootstrap</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p th:text="${#temporals.format(content.scheduleDate, 'MMM-dd-yyyy')}">Posted on January 1, 2019 at 12:00 PM</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" th:src="${content.titlePicture}" alt="">

                <hr>

                <!-- Post Content -->
                <p th:utext="${content.content}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>

                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form name="addComment" action="addComment" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="comment"></textarea>
                            </div>
                            <input type="hidden" name="postId" th:value="${content.id}"/>
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Single Comment -->
                <div th:each="comment : ${commentList}">
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" th:src="${comment.user.profilePicture}" alt="" width="50" height="50">
                        <div class="media-body">
                            <h5 class="mt-0" th:text="${comment.user.username}">Commenter Name</h5>
                            <p th:text="${comment.comment}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>